@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Signika:wght@400;700&family=Varela+Round&display=swap");

* {
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #20dfb2;
  --second-color: #df204d;
  --third-color: #f652a0;
  --forth-color: #4c5270;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--main-color);
}
h1 {
  text-align: center;
  font-size: 5em;
  color: white;
}

.game-mode {
  width: calc(100% - 50px);
  margin: 25px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.game-mode button {
  margin: 0 3em auto;
  border: 2px solid var(--second-color);
  padding: 0.5rem;
  box-shadow: 0 2px var(--second-color);
  background-color: transparent;
  color: var(--second-color);
  font-weight: bold;
  cursor: pointer;
  transition: 0.35s;
  font-size: 1.5em;
  width: 5em;
  height: 5em;
}
.game-mode button:hover,
.game-mode .mode-selected {
  box-shadow: 0 10px 5px var(--second-color);
  background-color: var(--second-color);
  color: white;
}

.disabled {
  background-color: #d4baa8 !important;
  box-shadow: none !important;
  color: white !important;
}

.pp {
  margin: 2em 0 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 1em;
  row-gap: 1em;
  text-align: center;
  font-size: 1.5em;
  justify-self: center;
}
.pp input {
  border: none;
  border-bottom: solid 2px var(--second-color);
}
input:focus {
  outline: none;
}

.player,
.pa {
  color: white;
  font-size: 1.5em;
}
.pa {
  margin: 2em 0 1em;
  display: none;
}
.mark {
  color: #51509b;
}

.play {
  margin: 1em auto;
  font-size: 2em;
  background-color: var(--second-color);
  color: white;
  border: none;
  padding: 0.125em 0.5em;
  cursor: pointer;
}
.game-board {
  width: 450px;
  height: 450px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}
.box {
  width: 150px;
  height: 150px;
  border: var(--second-color) 1px solid;
  text-align: center;
  line-height: 150px;
  font-size: 3em;
  font-weight: bold;
  color: white;
}

.player-names {
  font: 1.5em sans-serif;
  margin-top: 1em;
  display: flex;
  width: 450px;
  justify-content: space-between;
  color: white;
}

#modal {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 20em;
  height: 015em;
  font-size: 2.5rem;
  background-color: var(--main-color);
  color: white;
  box-shadow: 0 0 0px 50000px rgba(0, 0, 0, 0.7);
  transition: 0.5s;
}
#modal button {
  border: none;
  padding: 1em;
  font-size: 1.5rem;
}
button {
  border-radius: 5px;
}

@media screen and (max-width: 450px) {
  body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  .game-board {
    width: 300px;
    height: 300px;
  }
  .box {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
  }
  .player-names {
    width: 300px;
  }
}
